@media (max-width: 1266px) {
    .container {
        max-width: 1066px;
    }

    .header::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 60px;
        background-color: var(--grey-lt);
    }

    .header__top-container {
        flex-direction: column;
        /*flex-wrap: wrap;*/
        padding: 0 15px;
    }

    .header__top-logo {
        margin-right: auto;
        padding: 24px 0;
        z-index: 1;
    }

    .header__top-block {
        justify-content: space-between;
        width: 100%;
        min-height: 80px;
    }

    .header__top-nav {
        margin-right: 0;
        margin-left: -10px;
    }

    .header__top-nav-item:not(:last-child) {
        margin-right: 75px;
    }

    .container.header__bottom-container {
        justify-content: space-between;
    }

    .header__bottom-btns {
        width: 100%;
    }

    .header__bottom-play {
        min-width: 150px;
        width: 100%;
    }

    .header__bottom-play:last-child {
        margin-right: 0;
    }

    .header__bottom-age {
        display: none;
    }

    .podcast__card {
        max-width: 503px;
    }

    .broadcast__list {
        grid-template-columns: repeat(2, 1fr);
    }

    .broadcast__item-bg {
        background-size: cover;
    }

    .promo__left {
        width: 55%;
        margin-right: auto;
    }

    .about__top {
        background-size: 38%;
    }

    .about__slide-top img {
        width: 100%;
    }
}

@media (max-width: 1192px) {
    .container {
        max-width: 854px;
    }

    .header__top-nav-item:not(:last-child) {
        margin-right: 39.5px;
    }

    .header__top-search {
        margin-right: 0;
    }

    .header__bottom-container {
        min-height: 56px;
    }

    .header__bottom-nav-list {
        margin-right: 10px;
    }
    
    .header__bottom-nav-link {
        margin-right: 17px;
    }

    .header__bottom-play svg {
        top: 14%;
        left: 8%;
    }

    .btn-left::before {
        right: 15%;
    }

    .btn-left::after {
        right: 20%;
    }

    .btn-right::before {
        right: 12%;
    }

    .btn-right::after {
        right: 23%;
    }

    .hero__container {
        background-size: 30%;
        background-position-x: 97%;
        background-position-y: 55%;
    }

    .hero__title {
        margin-bottom: 12px;
    }

    .hero__descr {
        max-width: 68%;
        margin-bottom: 45px;
    }

    .hero__btn {
        padding: 23px 52px;
    }

    section .podcast__container {
        padding-top: 116px;
    }

    .podcast__card {
        max-width: 396px;
    }

    .broadcast__item-descr {
        padding: 20px 14px;
    }

    .broadcast__archive {
        top: 42%;
        padding-top: 115px;
    }

    .broadcast__archive-link {
        margin-bottom: 10px;
    }
}

